.main {
  font-size: 3vh;
}

.header {
  background-color: #1b8d73;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  height: 11vh;
}

.title {
  font-weight: bold;
  color: #1b8d73;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.8vh;
}

.subtitle {
  font-weight: bold;
  font-size: 2.5vh;
  text-align: center;
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.secondPart {
  height: 25vh;
}

.thirdPart {
  background-color: #d4ee04;
  height: 20vh;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.thirdPartText {
  margin-top: 0;
  padding: 1.8vh;
}

.forthPart {
  background-color: #1b8d73;
  height: 43vh;
}

.forthPartText {
  font-weight: bold;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.8vh;
}
